<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{# Cargamos la librería #}
	  {% load bootstrap4 %}

	  {# CSS Bootstrap #}
	  {% bootstrap_css %}

	  {% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Fútbol Champions</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="http://127.0.0.1:8000/futbol/index/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/futbol/equipo/">Equipo</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/futbol/jugadores/">Jugadores</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/futbol/crearjugador/">Crear Jugadores</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/futbol/crearequipo/">Crear Equipo</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<form action="" method="POST">

    {% csrf_token %}

    <label for="Id"> Id: </label>
    <input id="id" type="number" name="id" value="">

    <label for="Nombre"> Nombre: </label>
    <input id="nombre" type="text" name="nombre" value="">

    <label for="Equipo"> Equipo al que pertenece: </label>
    <input id="equipo" type="text" name="equipo" value="">

    <label for="Fecha de Nacimiento"> Fecha de nacimiento: </label>
    <input id="fecha_nacimiento" type="date" name="fecha_nacimiento" value="">

    <label for="Fecha de Debut"> Fecha de debut: </label>
    <input id="fecha_debut" type="date" name="fecha_debut" value="">

    <label for="Equipo Debut"> Equipo Debut: </label>
    <input id="equipo_debut" type="text" name="equipo_debut" value="">

    <input type="submit" value="Crear">
</form>
</body>
</html>