<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{# Cargamos la librería #}
	  {% load bootstrap4 %}

	  {# CSS Bootstrap #}
	  {% bootstrap_css %}

	  {% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Fútbol Champions</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="http://127.0.0.1:8000/futbol/index/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/futbol/equipo/">Equipo</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/futbol/jugadores/{{ id }}">Jugadores</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/futbol/crearjugador/">Crear Jugadores</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/futbol/crearequipo/">Crear Equipo</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<img src="{% static 'futbol/futbol/image/fondofutbol.jpg' %}" class="img-fluid rounded-start" alt="..." height="100">

              <div class="col-md">
                <div class="card-body">
                     <h2 class="card-title" style="text-align: center">Futbolistas</h2>
<table class="table table-dark table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Equipo</th>
      <th scope="col">Detalle</th>
    </tr>
  </thead>
  <tbody>
    {% for j in juga %}

            <tr>
                <th>{{ j.id }}</th>
                <td>{{ j.nombre }}</td>
                <td>{{ j.equipo }}</td>
                <td><a href="/futbol/jugadores/{{ j.id }}">Detalle Jugador</a></td>
            </tr>

        {% endfor %}
    </tr>
  </tbody>
</table>

                </div>
              </div>


</body>
</html>