<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{# Cargamos la librería #}
	  {% load bootstrap4 %}

	  {# CSS Bootstrap #}
	  {% bootstrap_css %}

	  {% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Fútbol Champions</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="http://127.0.0.1:8000/futbol/index/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/futbol/equipo/">Equipo</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/futbol/jugadores/">Jugadores</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/futbol/crearjugador/">Crear Jugadores</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/futbol/crearequipo/">Crear Equipo</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{ jug.id }}</td>
                <td>{{ jug.nombre }}</td>
                <td>{{ jug.equipo }}</td>
                <td>{{ jug.fecha_nacimiento}}</td>
                <td>{{ jug.fecha_debut }}</td>
                <td>{{ jug.equipo_debut }}</td>
                <td><a href="http://127.0.0.1:8000/futbol/borrar/{{ jug.id }}" class="btn btn-success">Eliminar</a></td>
                <td><a href="http://127.0.0.1:8000/futbol/modificar/{{ jug.id }}" class="btn btn-danger">Modificar</a></td>
            </tr>

</ul>




</body>
</html>