<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{# Cargamos la librería #}
	  {% load bootstrap4 %}

	  {# CSS Bootstrap #}
	  {% bootstrap_css %}

	  {% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Fútbol Champions</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="http://127.0.0.1:8000/futbol/index/">Inicio</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/futbol/crearjugador/">Crear Jugadores</a>
        </li>

      </ul>
    </div>
  </div>
</nav>





<div class="card text-center">
      <div class="card-body">

    <h5 class="card-title">Jugador</h5>
        <tr>
            <td>{{forloop.counter}}</td>
                <p class="card-text">ID: {{ jug.id }}</p>
                <p class="card-text">NOMBRE: {{ jug.nombre }}</p>
                <p class="card-text">EQUIPO ACTUAL: {{ jug.equipo }}</p>
                <p class="card-text">FECHA NACIMIENTO: {{ jug.fecha_nacimiento }}</p>
                <p class="card-text">FECHA DEBUT: {{ jug.fecha_debut }}</p>
                <p class="card-text">EQUIPO DEBUT: {{ jug.equipo_debut }}</p>
            </tr>
    <td><a href="http://127.0.0.1:8000/futbol/eliminar/{{ jug.id }}" class="btn btn-primary">Eliminar</a></td>
      <td><a href="http://127.0.0.1:8000/futbol/modificar/{{ jug.id }}" class="btn btn-danger">Modificar</a></td>
  </div>
</div>







</body>
</html>